body {
    background-color: black;
    color: white;
}

header {
    text-align: center;
    color: white;
    border-style: double;
}

.imagem-galeria {
    border-style: dashed;
    max-width: 100%;
    height: auto;
    align-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0);
    transition: transform 0.3 ease;
}

.imagem-galeria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
    justify-items: center;
    margin-top: 20px;
}


main {
    text-align: center;
}