body {
    background-color: antiquewhite;
}

header {
    text-align: center;
    border-style: dashed;
    padding: 5px;
}

div {
    position: absolute;
    justify-items: center;
    justify-content: space-around;
    margin-left: 38%;
}